* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1 {
    margin: 60px;
    font-size: 180%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

section {
    position: relative;
    width: 100%;
    padding: 15px;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: darkgrey;
    border: 1px black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.sub1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px black;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    background-color: rgb(230, 192, 111);
}

.sub2 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px black;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    background-color: rgb(155, 39, 39);
}

.sub3 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px black;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    background-color: rgb(45, 77, 114);
}

.content {
    padding: 5px;
    border: none;
    background-color: darkgrey;
    color: black;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    overflow: auto;
}

.row {
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }    
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
     .col-md-12 {
         float: left;
         width: 100%;
         margin-right: auto;
         margin-left: auto;  
        }
    }

    @media (max-width: 767px) {
        .col-sm-12{
            float: left;
            width: 100%;
        }  
    } 